# -----------------------------
# 1. Environment & Secret Files
# -----------------------------
# This ignores .env files in the root, frontend, AND backend folders
.env
.env.local
.env.development
.env.production

# -----------------------------
# 2. Dependency Folders
# -----------------------------
# Never push node_modules, they are too massive!
node_modules/
frontend/node_modules/
backend/node_modules/

# -----------------------------
# 3. System & Editor Files
# -----------------------------
.DS_Store
.vscode/



firebase-adminsdk.json