@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Inter', sans-serif;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 40px 40px;
}